@model CoursePlanner.Models.RequestApprovalMessage

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>RequestApprovalMessage</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.CourseOccurrenceID, "CourseOccurrence")
        </div>
        <div class="editor-field">
            @Html.DropDownList("CourseOccurrenceID", String.Empty)
            @Html.ValidationMessageFor(model => model.CourseOccurrenceID)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.BaseMessageID, "BaseMessage")
        </div>
        <div class="editor-field">
            @Html.DropDownList("BaseMessageID", String.Empty)
            @Html.ValidationMessageFor(model => model.BaseMessageID)
        </div>

        <p>
            <input type="submit" value="Create" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
