@model IEnumerable<CoursePlanner.Models.RequestApprovalMessage>

@{
    ViewBag.Title = "Message Box";
}


<style>
    /* CSS used here will be applied after bootstrap.css */
    .btn-default-green {
        color: #333;
        background-color: #fff;
        border-color: #ccc;
    }

        .btn-default-green:focus,
        .btn-default-green.focus {
            color: #00ff7f;
            background-color: #e6e6e6;
            border-color: #8c8c8c;
        }

        .btn-default-green:hover {
            color: #333;
            background-color: #e6e6e6;
            border-color: #adadad;
        }

        .btn-default-green:active,
        .btn-default-green.active,
        .open > .dropdown-toggle.btn-default-green {
            color: #008000;
            background-color: #e6e6e6;
            border-color: #adadad;
        }

            .btn-default-green:active:hover,
            .btn-default-green.active:hover,
            .open > .dropdown-toggle.btn-default-green:hover,
            .btn-default-green:active:focus,
            .btn-default-green.active:focus,
            .open > .dropdown-toggle.btn-default-green:focus,
            .btn-default-green:active.focus,
            .btn-default-green.active.focus,
            .open > .dropdown-toggle.btn-default-green.focus {
                color: #008000;
                background-color: #d4d4d4;
                border-color: #8c8c8c;
            }

        .btn-default-green:active,
        .btn-default-green.active,
        .open > .dropdown-toggle.btn-default-green {
            background-image: none;
        }

        .btn-default-green.disabled:hover,
        .btn-default-green[disabled]:hover,
        fieldset[disabled] .btn-default-green:hover,
        .btn-default-green.disabled:focus,
        .btn-default-green[disabled]:focus,
        fieldset[disabled] .btn-default-green:focus,
        .btn-default-green.disabled.focus,
        .btn-default-green[disabled].focus,
        fieldset[disabled] .btn-default-green.focus {
            background-color: #fff;
            border-color: #ccc;
        }

        .btn-default-green .badge {
            color: #fff;
            background-color: #333;
        }

    /* CSS used here will be applied after bootstrap.css */
    .btn-default-red {
        color: #333;
        background-color: #fff;
        border-color: #ccc;
    }

        .btn-default-red:focus,
        .btn-default-red.focus {
            color: #ff0000;
            background-color: #e6e6e6;
            border-color: #8c8c8c;
        }

        .btn-default-red:hover {
            color: #333;
            background-color: #e6e6e6;
            border-color: #adadad;
        }

        .btn-default-red:active,
        .btn-default-red.active,
        .open > .dropdown-toggle.btn-default-red {
            color: #ff0000;
            background-color: #e6e6e6;
            border-color: #adadad;
        }

            .btn-default-red:active:hover,
            .btn-default-red.active:hover,
            .open > .dropdown-toggle.btn-default-red:hover,
            .btn-default-red:active:focus,
            .btn-default-red.active:focus,
            .open > .dropdown-toggle.btn-default-red:focus,
            .btn-default-red:active.focus,
            .btn-default-red.active.focus,
            .open > .dropdown-toggle.btn-default-red.focus {
                color: #ff0000;
                background-color: #d4d4d4;
                border-color: #8c8c8c;
            }

    .btn-default-green:active,
    .btn-default-green.active,
    .open > .dropdown-toggle.btn-default-green {
        background-image: none;
    }

    .btn-default-red.disabled:hover,
    .btn-default-red[disabled]:hover,
    fieldset[disabled] .btn-default-red:hover,
    .btn-default-red.disabled:focus,
    .btn-default-red[disabled]:focus,
    fieldset[disabled] .btn-default-red:focus,
    .btn-default-red.disabled.focus,
    .btn-default-red[disabled].focus,
    fieldset[disabled] .btn-default-red.focus {
        background-color: #fff;
        border-color: #ccc;
    }

    .btn-default-red .badge {
        color: #fff;
        background-color: #333;
    }

    .btn-margin{
        margin-bottom:10px;
    }
</style>


<div class="row">
    <div class="col-xs-12">
        <div class="box box-danger">

            <!-- /.box-header -->
            <div class="box-body mailbox-messages">
                <table class="table table-hover table-striped" id="messageoverview">
                    <thead>
                        <tr>
                            @if (User.IsInRole("Study Director"))
                            {
                                <th>
                                    Receiver
                                </th>
                            }
                            else
                            {
                                <th>
                                    Sender
                                </th>
                            }

                            <th>
                                Course Name
                            </th>
                            <th>
                                Message
                            </th>
                            <th>
                                @if (User.IsInRole("Study Director"))
                                {
                                    <span>Send Date</span>
                                }
                                else
                                {
                                    <span>Receive Date</span>
                                }
                            </th>
                            <th>
                                Response Details
                            </th>

                            @if (User.IsInRole("Study Director"))
                            {

                                <th>
                                    Message Action
                                </th>
                            }

                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            if (item.BaseMessage.SenderID == ViewBag.CurrentTeacherId || item.BaseMessage.RecieverID == ViewBag.CurrentTeacherId)
                            {
                                if (string.IsNullOrEmpty(item.BaseMessage.MessageDeletionDate.ToString()))
                                {

                                    <tr>

                                        <td>
                                            @if (User.IsInRole("Study Director"))
                                            {
                                                <a href="@Url.Action("Details", "Teacher", new { id = item.BaseMessage.TeacherReciever.TeacherId }, null)" class="name">
                                                    @Html.DisplayFor(modelItem => item.BaseMessage.TeacherReciever.TeacherName)
                                                </a>
                                            }
                                            else
                                            {
                                                <a href="@Url.Action("Details", "Teacher", new { id = item.BaseMessage.TeacherSender.TeacherId }, null)" class="name">
                                                    @Html.DisplayFor(modelItem => item.BaseMessage.TeacherSender.TeacherName)
                                                </a>
                                            }
                                        </td>


                                        <td>
                                            @Html.DisplayFor(modelItem => item.CourseOccurrence.Course.CourseName)
                                        </td>

                                        <td>
                                            @Html.DisplayFor(modelItem => item.BaseMessage.MessageText)
                                        </td>

                                        <td>
                                            @Html.DisplayFor(modelItem => item.BaseMessage.MessageSendDate)
                                        </td>

                                        @if (User.IsInRole("Study Director"))
                                        {
                                            <td>
                                                @if (!string.IsNullOrEmpty(item.BaseMessage.MessageReadDate.ToString()))
                                                {
                                                    if (ViewBag.ResponseStatus(item.RequestApprovalMessageID) == "True")
                                                    {

                                                        <span class="label label-success">Accepted</span>

                                                    }
                                                    else if (ViewBag.ResponseStatus(item.RequestApprovalMessageID) == "False")
                                                    {


                                                        <span class="label label-danger">Rejected</span>

                                                    }
                                                    <br />
                                                    <span> <strong>Message:</strong> </span>
                                                    <span>@ViewBag.ResponseMessage(item.RequestApprovalMessageID)</span>
                                                    <br />
                                                    <span> <strong>Date:</strong> </span>
                                                    <span>
                                                        @Html.DisplayFor(modelItem => item.BaseMessage.MessageReadDate)
                                                    </span>
                                                }
                                                else
                                                {
                                                    <span class="label label-default">Not Yet Responded</span>
                                                }


                                            </td>
                                        }


                                        @if (User.IsInRole("Teacher") && !User.IsInRole("Study Director"))
                                        {
                                            <td>
                                                @if (string.IsNullOrEmpty(item.BaseMessage.MessageReadDate.ToString()))
                                                {

                                                    using (Html.BeginForm("CreateResponseApprovalMessage", "RequestApprovalMessage"))
                                                    {
                                                        @Html.AntiForgeryToken()
                                                        <fieldset id="createResponseApprovalMessageForm">
                                                            <input hidden value="1" name="senderId" />
                                                            <input hidden value="33" name="receiverId" />
                                                            <input hidden value="@item.RequestApprovalMessageID" name="requestApprovalMessageId" />
                                                            
                                                            <div class="btn-group btn-margin" data-toggle="buttons">
                                                                <label class="btn btn-default-green btn-sm active">
                                                                    <input name="response" id="optAccept" type="radio" checked="" autocomplete="off" value="true"> <input name="response" id="optReject" type="radio" value="false" autocomplete="off"> <strong>Accept</strong>

                                                                </label>
                                                                <label class="btn btn-default-red btn-sm">
                                                                    <input name="response" id="optReject" type="radio" value="false" autocomplete="off"> <strong>Reject</strong>
                                                                </label>
                                                            </div>
                                                            <br />
                                                            <input type="text" value="" name="messageText" placeholder="Report if any concern" />
                                                            <input class="btn btn-danger btn-xs" value="Respond" type="submit" />
                                                        </fieldset>
                                                    }
                                                }
                                                else
                                                {
                                                    if (ViewBag.ResponseStatus(item.RequestApprovalMessageID) == "True")
                                                    {

                                                        <span class="label label-success">Accepted</span>

                                                    }
                                                    else if (ViewBag.ResponseStatus(item.RequestApprovalMessageID) == "False")
                                                    {


                                                        <span class="label label-danger"> Rejected</span>

                                                    }
                                                    <br />


                                                    if (string.IsNullOrEmpty(ViewBag.ResponseMessage(item.RequestApprovalMessageID)))
                                                    {
                                                        <span> No Respond Message Sent</span>
                                                    }
                                                    else
                                                    {
                                                        <span> <strong>Message:</strong> </span>
                                                        <span>@ViewBag.ResponseMessage(item.RequestApprovalMessageID) </span>
                                                        <br />
                                                        <span> <strong>Date:</strong> </span>
                                                        <span>
                                                            @Html.DisplayFor(modelItem => item.BaseMessage.MessageReadDate)
                                                        </span>
                                                    }
                                                }

                                            </td>
                                        }
                                        @if (User.IsInRole("Study Director"))
                                        {
                                            <td>
                                                @if (!string.IsNullOrEmpty(item.BaseMessage.MessageReadDate.ToString()))
                                                {
                                                    using (Html.BeginForm("DeleteApprovalMessage", "RequestApprovalMessage"))
                                                    {
                                                        @Html.AntiForgeryToken()
                                                        <fieldset id="createResponseApprovalMessageForm">
                                                            <input hidden value="1" name="senderId" />
                                                            <input hidden value="33" name="receiverId" />
                                                            <input hidden value="@item.RequestApprovalMessageID" name="deleteApprovalMessageId" />

                                                            <p />

                                                            <p />
                                                            <p />

                                                            <input class="btn btn-danger btn-sm pull-right" value="Delete" type="submit" />
                                                        </fieldset>
                                                    }
                                                }
                                            </td>

                                        }

                                    </tr>
                                }
                            }
                        }
                    </tbody>
                </table>
            </div>
            <!-- /.box-body -->
        </div>
        <!-- /.box -->
    </div>
    <!--/.col-xs-12-->
</div>
@section MyScripts{
    <script>
        $(document).ready(function () {
            $('#messageoverview').DataTable({
                "order": [[3, "desc"]]
            })
        });



    </script>
}


