@model CoursePlanner.Models.CourseTeacher

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<fieldset>
    <legend>CourseTeacher</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.CourseOccurrence.Year)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.CourseOccurrence.Year)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Teacher.TeacherName)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Teacher.TeacherName)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Hours)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Hours)
    </div>
</fieldset>
@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    <p>
        <input type="submit" value="Delete" /> |
        @Html.ActionLink("Back to List", "Index")
    </p>
}
