@model CoursePlanner.Models.Message

@{
    ViewBag.Title = "Details";
}

<fieldset>
    <legend>Message</legend>

    <div class="display-label">
        Message Text
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.MessageText)
    </div>
    <br />
    <div class="display-label">
         Sender
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.TeacherSender.TeacherName)
    </div>
    <br />
    <div class="display-label">
         Message Sent
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.MessageSendDate)
    </div>
    <br />
    <div class="display-label">
        Affected Course
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.CourseOccurrence.Course.CourseName)
        -
        @Html.DisplayFor(model => model.CourseOccurrence.Year)
    </div>

    @*Not implementing the response message for now*@
    @*<div class="display-label">
         @Html.DisplayNameFor(model => model.ResponseToMessage.MessageText)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ResponseToMessage.MessageText)
    </div>*@

    <br />
    @using (Html.BeginForm("MessageResponseApprove", "Message"))
    {
        @Html.AntiForgeryToken()
        <fieldset id="messageResponseApproveForm">
            <input hidden value="@Model.MessageID" name="id" />
            <input id="approveChanges" class="btn btn-success btn-sm" value="Approve Changes" type="submit"/>
        </fieldset>
    }

    <br />

    @using (Html.BeginForm("MessageResponseReject", "Message"))
    {
        @Html.AntiForgeryToken()
        <fieldset id="messageResponseRejectForm">
            <input hidden value="@Model.MessageID" name="id" />
            <input id="rejectChanges" class="btn btn-danger btn-sm" value="Reject Changes" type="submit" />
        </fieldset>
    }
</fieldset>
<br />
<p>      
    @Html.ActionLink("Back to Inbox", "Index")
</p>
