@model IEnumerable<CoursePlanner.Models.Message>

@{
    ViewBag.Title = "Inbox";
}

<p>
    @Html.ActionLink("Send new message", "Create")
</p>

<div class="row">
    <div class="col-xs-12">
        <div class="box box-danger">
            <!-- /.box-header -->
            <div class="box-body">
                <h3>
                    Course Responses
                </h3>
                <table class="table table-bordered table-hover" id="messageList" style="cursor: pointer">
                    <thead>
                        <tr>
                            <th>
                                Message Seen
                            </th>
                            <th>
                                Course Change Type
                            </th>
                            <th>
                                Affected Course
                            </th>
                            <th>
                                Approved Changes
                            </th>
                            <th>
                                Message
                            </th>
                            <th>
                                Sender Name
                            </th>
                            <th>
                                Message Sent
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr class='clickable-row' data-href='@Url.Action("Details", "Message", new { id = item.MessageID })' >
                                <td>
                                    @if (item.MessageReadDate != null)
                                    {
                                        <text> ✓ </text>
                                    }
                                    else
                                    {
                                        <text> X </text>
                                    }
                                </td>
                                <td>
                                    @item.CourseOccurrence.Changes
                                </td>
                                <td>
                                    @item.CourseOccurrence.Course.CourseName
                                </td>
                                <td>
                                    @if (item.ApproveChanges == true)
                                    {
                                        <text> ✓ </text>
                                    }
                                    else if (item.ApproveChanges == false)
                                    {
                                        <text> X </text>
                                    }
                                </td>
                                <td>
                                    @item.MessageText
                                </td>

                                <td>
                                    @item.TeacherSender.TeacherName
                                </td>
                                <td>
                                    @item.MessageSendDate
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
            <!-- /.box-body -->
        </div>
        <!-- /.box -->
    </div>
    <!--/.col-xs-12-->
</div>

<!--/.row-->
@section MyScripts{
    <script>
        $(document).ready(function () {
            $('#messageList').DataTable()
            $(".clickable-row").click(function () {
                window.location.href = $(this).data("href");
            });
        });
    </script>
}
