@model CoursePlanner.Models.CourseModels

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>CourseModels</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.CourseCode)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.CourseCode)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.CourseName)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.CourseName)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.CourseClassificiation)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.CourseClassificiation)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.CourseType)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.CourseType)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Credits)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Credits)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.HSTValue)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.HSTValue)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.BudgetedNumberOfStudents)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.BudgetedNumberOfStudents)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.CourseBudget)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.CourseBudget)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Term)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Term)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Period)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Period)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.StartDate)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.StartDate)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.EndDate)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.EndDate)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
