@model CoursePlanner.Models.CourseModel

@{
    ViewBag.Title = Model.CourseName + " - " + Model.CourseCode;
}

<style>
    h1{
        visibility : hidden;
    }

    h2{
        font-size : 5em;
    }

    h3{
        font-size: 2em;
    }

    .hidden{display: none}
    .show{display:inline !important}

</style>

<script type="text/javascript">
    function EditBudget() {    
        document.getElementById('editBudget').className = "btn btn-warning btn-xs hidden";
        document.getElementById('budgetEditForm').className = "show";
    }

    function SaveBudget() {
        document.getElementById('editBudget').className = "btn btn-warning btn-xs show";
        document.getElementById('budgetEditForm').className = "hidden";
    }
</script>

<div class="jumbotron text-center">
    <h2>@Html.DisplayFor(model => model.CourseName)</h2>
    <h3>@Html.DisplayFor(model => model.CourseCode)</h3>
</div>

<div class="box box-danger">
    <div class="box-header with-border">
        <h3 class="box-title">Course Information</h3>
    </div>
    <!-- /.box-header -->
    <div class="box-body">
        <strong><i class="fa fa-university margin-r-5"></i> Category </strong>
        <p class="text-muted">
            @Html.DisplayNameFor(model => model.CourseClassificiation) :
            @Html.DisplayFor(model => model.CourseClassificiation) <br />

            @Html.DisplayNameFor(model => model.CourseType) :
            @Html.DisplayFor(model => model.CourseType)
        </p>
        <hr>
        <strong><i class="fa fa-money margin-r-5"></i> Budget </strong>
        <p class="text-muted">
            @Html.DisplayNameFor(model => model.Credits) :
            @Html.DisplayFor(model => model.Credits) <br />

            @Html.DisplayNameFor(model => model.HSTValue) :
            @Html.DisplayFor(model => model.HSTValue) <br />

            @Html.DisplayNameFor(model => model.BudgetedNumberOfStudents) :
            @Html.DisplayFor(model => model.BudgetedNumberOfStudents) <br />
           
            @Html.DisplayNameFor(model => model.CourseBudget) :
            @Html.DisplayFor(model => model.CourseBudget)

            <button id="editBudget" class="btn btn-warning btn-xs" onclick="EditBudget()"> Edit Budget </button>

            @using (Html.BeginForm()) { 
                @Html.AntiForgeryToken()
                <fieldset hidden id="budgetEditForm">
                    <input type="text" value="@Html.ValueFor(model => model.CourseBudget)" name="newBudget" />
                    <input id="saveBudget" class="btn btn-success btn-xs" value="Save Budget" type="submit" onclick=SaveBudget() /> 
                </fieldset>
            }

        </p>
        <hr>
        <strong><i class="fa fa-calendar-check-o margin-r-5"></i> Dates </strong>
        <p class="text-muted">
            @Html.DisplayNameFor(model => model.Term) :
            @Html.DisplayFor(model => model.Term) <br />

            @Html.DisplayNameFor(model => model.Period) :
            @Html.DisplayFor(model => model.Period) <br />

            @Html.DisplayNameFor(model => model.StartDate) :
            @Html.DisplayFor(model => model.StartDate) <br />

            @Html.DisplayNameFor(model => model.EndDate) :
            @Html.DisplayFor(model => model.EndDate)
        </p>
        <hr>
        <strong><i class="fa fa-file-text-o margin-r-5"></i> Course History </strong>
        <p class="text-muted"> 
            Placeholder Text 
        </p>
    </div>
    <!-- /.box-body -->
</div>

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
