@model CoursePlanner.Models.CourseModels

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>CourseModels</legend>

        @Html.HiddenFor(model => model.Id)

        <div class="editor-label">
            @Html.LabelFor(model => model.CourseCode)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.CourseCode)
            @Html.ValidationMessageFor(model => model.CourseCode)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.CourseName)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.CourseName)
            @Html.ValidationMessageFor(model => model.CourseName)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.CourseClassificiation)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.CourseClassificiation)
            @Html.ValidationMessageFor(model => model.CourseClassificiation)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.CourseType)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.CourseType)
            @Html.ValidationMessageFor(model => model.CourseType)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Credits)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Credits)
            @Html.ValidationMessageFor(model => model.Credits)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.HSTValue)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.HSTValue)
            @Html.ValidationMessageFor(model => model.HSTValue)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.BudgetedNumberOfStudents)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.BudgetedNumberOfStudents)
            @Html.ValidationMessageFor(model => model.BudgetedNumberOfStudents)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.CourseBudget)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.CourseBudget)
            @Html.ValidationMessageFor(model => model.CourseBudget)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Term)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Term)
            @Html.ValidationMessageFor(model => model.Term)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Period)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Period)
            @Html.ValidationMessageFor(model => model.Period)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.StartDate)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.StartDate)
            @Html.ValidationMessageFor(model => model.StartDate)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.EndDate)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.EndDate)
            @Html.ValidationMessageFor(model => model.EndDate)
        </div>

        <p>
            <input type="submit" value="Save" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
