@model CoursePlanner.Models.Teacher

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Teacher</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.TeacherName)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.TeacherName)
            @Html.ValidationMessageFor(model => model.TeacherName)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.TeacherDateOfBirth)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.TeacherDateOfBirth)
            @Html.ValidationMessageFor(model => model.TeacherDateOfBirth)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.TeacherUserId)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.TeacherUserId)
            @Html.ValidationMessageFor(model => model.TeacherUserId)
          
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.TotalPercentageFall)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.TotalPercentageFall)
            @Html.ValidationMessageFor(model => model.TotalPercentageFall)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.TotalPercentageSpring)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.TotalPercentageSpring)
            @Html.ValidationMessageFor(model => model.TotalPercentageSpring)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.FixedContractEndDate)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.FixedContractEndDate)
            @Html.ValidationMessageFor(model => model.FixedContractEndDate)
        </div>

        <p>
            <input type="submit" value="Create" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
