@model CoursePlanner.Models.Teacher

@{
    ViewBag.Title = Model.TeacherName;
}

<div class="row">
    <div class="col-md-3">
        <!-- Profile Image -->
        <div class="box box-danger">
            <div class="box-body box-profile">
                <h3 class="profile-username text-center">@Html.DisplayFor(model => model.TeacherName)</h3>
                <p class="text-muted text-center">@Html.DisplayFor(model => model.TeacherPosition)</p>
                <ul class="list-group list-group-unbordered">
                    <li class="list-group-item">
                        <b>Contract type</b> <a class="pull-right">@Html.DisplayFor(model => model.TeacherContractType)</a>
                    </li>
                    @if (Model.FixedContractEndDate != null)
                    {
                        <li class="list-group-item">
                            <b>Contract end date</b> <a class="pull-right">@Model.FixedContractEndDate.Value.ToString("yyyy/MM/dd")</a>
                        </li>
                    }
                    <li class="list-group-item">
                        <b>Total percentage fall</b> <a class="pull-right">@Convert.ToDouble(Model.TotalPercentageFall.Value * 100)%</a>
                    </li>
                    <li class="list-group-item">
                        <b>Total percentage spring</b> <a class="pull-right">@Convert.ToDouble(Model.TotalPercentageSpring.Value * 100)%</a>
                    </li>
                    <li class="list-group-item">
                        <b>Base annual working hours</b> <a class="pull-right">@ViewBag.BaseAnnualWorkingHours</a>
                    </li>
                    <li class="list-group-item">
                        / / / / / / / / / / / / / / / /
                    </li>

                    <li class="list-group-item">
                        <b>Teaching hours available [Fall]</b> <a class="pull-right">@ViewBag.TeachingHoursAvailableFall</a>
                    </li>
                    <li class="list-group-item">
                        <b>Allocated teaching hours [Fall]</b> <a class="pull-right">@ViewBag.TeachingHoursAllocatedFall</a>
                    </li>
                    <li class="list-group-item">
                        <b>Remaining teaching hours [Fall]</b> 
                        @if(ViewBag.TeachingHoursAvailableFall-ViewBag.TeachingHoursAllocatedFall < 0)
                        {
                            <a class="pull-right">Too many hours allocated</a>
                        }
                        else
                        {
                            <a class="pull-right">@(ViewBag.TeachingHoursAvailableFall-ViewBag.TeachingHoursAllocatedFall)</a>     
                        }                           
                    </li>
                    <li class="list-group-item">
                        <b>Teaching hours available [Spring]</b> <a class="pull-right">@ViewBag.TeachingHoursAvailableSpring</a>
                    </li>
                    <li class="list-group-item">
                        <b>Allocated teaching hours [Spring]</b> <a class="pull-right">@ViewBag.TeachingHoursAllocatedSpring</a>
                    </li>
                    <li class="list-group-item">
                        <b>Remaining teaching hours [Spring]</b> 
                        @if (ViewBag.TeachingHoursAvailableSpring - ViewBag.TeachingHoursAllocatedSpring < 0)
                        {
                            <a class="pull-right">Too many hours allocated</a>
                        }
                        else
                        {
                            <a class="pull-right">@(ViewBag.TeachingHoursAvailableSpring - ViewBag.TeachingHoursAllocatedSpring)</a>
                        } 
                    </li>
                </ul>
            </div>
            <!-- /.box-body -->
        </div>
        <!-- /.box -->
    </div>
    <!-- /.col -->
    <div class="col-md-9  skin-red-light">
        <div class="nav-tabs-custom  skin-red-light">
            <ul class="nav nav-tabs skin-red-light">
                <li class="active skin-red-light"><a href="#fall" data-toggle="tab">Fall Term</a></li>
                <li><a href="#spring" data-toggle="tab">Spring Term</a></li>
                <li><a href="#year" data-toggle="tab">Hours During Year</a></li>
                <li><a href="#history" data-toggle="tab">History</a></li>

            </ul>
            <div class="tab-content">
                <div class="active tab-pane" id="fall">
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="box box-danger">
                                <!-- /.box-header -->
                                <div class="box-body">
                                    <table class="table table-bordered table-hover" id="courseoverview">
                                        <thead>
                                            <tr>
                                                <th>
                                                    Course Code
                                                </th>
                                                <th>
                                                    Course Name
                                                </th>
                                                <th>
                                                    Amount of hours
                                                </th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @foreach (CoursePlanner.Models.CourseOccurrence c in (List<CoursePlanner.Models.CourseOccurrence>)ViewBag.CourseOccurencesFall)
                                            {
                                                <tr>
                                                    <td>
                                                        @c.Course.CourseCode
                                                    </td>
                                                    <td>
                                                        <a href="@Url.Action("Details/" + @c.CourseID, "Course")"><span>@c.Course.CourseName</span></a>
                                                    </td>
                                                    <td>
                                                        @c.CourseTeacher.Where(x => x.CourseOccurrenceId == c.CourseOccurrenceID && x.TeacherId == Model.TeacherId).Select(y => y.Hours).FirstOrDefault()
                                                    </td>
                                                </tr>
                                            }
                                        </tbody>
                                    </table>
                                </div>
                                <!-- /.box-body -->
                            </div>
                            <!-- /.box -->
                        </div>
                        <!--/.col-xs-12-->
                    </div>
                </div>
                <!-- /.tab-pane -->
                <div class="tab-pane" id="spring">
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="box box-danger">
                                <!-- /.box-header -->
                                <div class="box-body">
                                    <table class="table table-bordered table-hover" id="courseoverview">
                                        <thead>
                                            <tr>
                                                <th>
                                                    Course Code
                                                </th>
                                                <th>
                                                    Course Name
                                                </th>
                                                <th>
                                                    Amount of hours
                                                </th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @foreach (CoursePlanner.Models.CourseOccurrence c in (List<CoursePlanner.Models.CourseOccurrence>)ViewBag.CourseOccurencesSpring)
                                            {
                                                <tr>
                                                    <td>
                                                        @c.Course.CourseCode
                                                    </td>
                                                    <td>
                                                        <a href="@Url.Action("Details/" + @c.CourseID, "Course")"><span>@c.Course.CourseName</span></a>
                                                    </td>
                                                    <td>
                                                        @c.CourseTeacher.Where(x => x.CourseOccurrenceId == c.CourseOccurrenceID && x.TeacherId == Model.TeacherId).Select(y => y.Hours).FirstOrDefault()
                                                    </td>
                                                </tr>
                                            }
                                        </tbody>
                                    </table>
                                </div>
                                <!-- /.box-body -->
                            </div>
                            <!-- /.box -->
                        </div>
                        <!--/.col-xs-12-->
                    </div>
                </div>
                <!-- /.tab-pane -->
                <div class="tab-pane" id="year">

                </div>
                <!-- /.tab-pane -->
                <div class="tab-pane" id="history">

                </div>
            </div>
            <!-- /.tab-content -->
        </div>
        <!-- /.nav-tabs-custom -->
    </div>
    <!-- /.col -->
</div>

<p>
    @Html.ActionLink("Back to List", "Index")
</p>
