@model CoursePlanner.Models.Teacher

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>Teacher</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.TeacherName)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.TeacherName)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.TeacherDob)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.TeacherDob)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.TeacherUserId)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.TeacherUserId)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.TotalPercentageFall)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.TotalPercentageFall)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.TotalPercentageSpring)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.TotalPercentageSpring)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.FixedContractEndDate)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.FixedContractEndDate)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.TeacherId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
