@using CoursePlanner.Models
@model IEnumerable<Course>

@{
    ViewBag.Title = "Course Conflict Overview";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-xs-12">
        <div class="box-group" id="accordion">
            <div class="panel box box-danger">
                <div class="box-header with-border">
                    <h4 class="box-title">
                        <a class="CollapsableLinkHeader" data-toggle="collapse" data-parent="#accordion" href="#conflictColorsCollapse">
                            Conflict classification descriptions (click to view/collapse)
                        </a>
                    </h4>
                </div>

                <div id="conflictColorsCollapse" class="panel-collapse collapse">
                    <div class="row">
                    <div class="col-md-3 col-sm-6 col-xs-12">
                        <div class=" info-box">
                            <span style="color: #fff !important;" class="info-box-icon bg-gray"><i class="fa fa-thumbs-o-up"></i></span> @*fa-thumbs-o-up*@
                            <div class="info-box-content">
                                <span class="info-box-text">Approved or Completed course</span>
                                <span class="info-box-number"><small>Completed course or course in which the hours have been approved</small></span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6 col-xs-12">
                        <div class=" info-box">
                            <span class="info-box-icon bg-green"><i class="fa fa-smile-o"></i></span>
                            <div class="info-box-content">
                                <span class="info-box-text">No issue</span>
                                <span class="info-box-number"><small>Identifies a course with a balance of less than +-50 hours.</small></span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6 col-xs-12">
                        <div class=" info-box">
                            <span class="info-box-icon bg-yellow"><i class="fa fa-meh-o"></i></span>
                            <div class="info-box-content">
                                <span class="info-box-text">Minor hour issue</span>
                                <span class="info-box-number"><small>Identifies a course with a balance of less than +-100 hours.</small></span>
                            </div>
                        </div>
                    </div>
                        <div class="col-md-3 col-sm-6 col-xs-12">
                            <div class=" info-box">
                                <span class="info-box-icon bg-red"><i class="fa fa-frown-o"></i></span>
                                <div class="info-box-content">
                                    <span class="info-box-text">Major hour issue</span>
                                    <span class="info-box-number"><small>Identifies a course with a balance of more than than +- 100 hours.</small></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <div class="box box-danger">
            <!-- /.box-header -->
            <div class="box-body">
                @*@using (Html.BeginForm("Index", "Home", FormMethod.Post, new { @class = "form-inline" }))
                    {
                        <div class="col-md-3 col-xs-6">
                            <fieldset>
                                <p class="courseoveriewfilterhead">Term(s):</p>
                                <div class="form-group checkbox-inline">
                                    <label class="font-light courseoveriewfilterhead">
                                        @Html.CheckBox("fall", true) Fall
                                    </label>
                                </div>
                                <div class="form-group checkbox-inline">
                                    <label class="font-light courseoveriewfilterhead">
                                        @Html.CheckBox("spring", true) Spring
                                    </label>
                                </div>
                            </fieldset>
                        </div>
                        <div class="col-md-4 col-xs-8">
                            <fieldset>
                                <p class="courseoveriewfilterhead">Period(s): </p>
                                <div class="form-group checkbox-inline font-light">
                                    <label class="font-light courseoveriewfilterhead">
                                        @Html.CheckBox("P1", true) P1
                                    </label>
                                </div>
                                <div class="form-group checkbox-inline font-light">
                                    <label class="font-light courseoveriewfilterhead">
                                        @Html.CheckBox("P2", true) P2
                                    </label>
                                </div>
                                <div class="form-group checkbox-inline font-light">
                                    <label class="font-light courseoveriewfilterhead">
                                        @Html.CheckBox("P3", true) P3
                                    </label>
                                </div>
                                <div class="form-group checkbox-inline">
                                    <label for="P4" class="font-light courseoveriewfilterhead">
                                        @Html.CheckBox("P4", true) P4
                                    </label>

                                </div>
                            </fieldset>
                        </div>

                        <div class="col-md-1 col-xs-1">
                            <button class="btn btn-sm btn-danger" type="submit">Filter</button>
                        </div>
                    }*@
                <div id="courseconflicttable">
                    @{Html.RenderPartial("_CourseConflictTable", Model);}
                </div>
            </div>
            <!-- /.box-body -->
        </div>
        <!-- /.box -->
    </div>
</div>


