
@using CoursePlanner.Models
@model IEnumerable<Course>

@{
    ViewBag.Title = "Course Conflict Overview";
    Layout = "~/Views/Shared/_Layout.cshtml";
}





<div class="row">
    <div class="col-xs-12">
        <div class="box-group" id="accordion">
            <div class="panel box box-danger">
                <div class="box-header with-border">
                    <h4 class="box-title">
                        <a class="CollapsableLinkHeader" data-toggle="collapse" data-parent="#accordion" href="#conflictColorsCollapse">
                            Conflict classification descripitions (click to view/collapse)
                        </a>
                    </h4>
                </div>
                <div id="conflictColorsCollapse" class="panel-collapse collapse">
                    <div class="box-body">
                        <div class="conflictDescription callout callout-info">
                            <b>Notification</b>
                            <p>Identifies a course with non-hour related issues.</p>
                        </div>
                        <div class="conflictDescription callout callout-success">
                            <b>No issue</b>
                            <p>Identifies a course with no outstanding issues.</p>
                        </div>
                        <div class="conflictDescription callout callout-warning">
                            <b>Minor hour issue</b>
                            <p>Identifies a course thats allocated +- 10 to 50 hours.</p>
                        </div>
                        <div class="conflictDescription callout callout-danger">
                            <b>Major hour issue</b>
                            <p> Identifies a course thats allocated +- >50 hours.</p>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <div class="box box-danger">
            <!-- /.box-header -->
            <div class="box-body">
                @using (Html.BeginForm("Index", "Home", FormMethod.Post, new { @class = "form-inline" }))
                {
                    <div class="col-md-3 col-xs-6">
                        <fieldset>
                            <p class="courseoveriewfilterhead">Term(s):</p>
                            <div class="form-group checkbox-inline">
                                <label class="font-light courseoveriewfilterhead">
                                    @Html.CheckBox("fall", true) Fall
                                </label>
                            </div>
                            <div class="form-group checkbox-inline">
                                <label class="font-light courseoveriewfilterhead">
                                    @Html.CheckBox("spring", true) Spring
                                </label>
                            </div>
                        </fieldset>
                    </div>
                    <div class="col-md-4 col-xs-8">
                        <fieldset>
                            <p class="courseoveriewfilterhead">Period(s): </p>
                            <div class="form-group checkbox-inline font-light">
                                <label class="font-light courseoveriewfilterhead">
                                    @Html.CheckBox("P1", true) P1
                                </label>
                            </div>
                            <div class="form-group checkbox-inline font-light">
                                <label class="font-light courseoveriewfilterhead">
                                    @Html.CheckBox("P2", true) P2
                                </label>
                            </div>
                            <div class="form-group checkbox-inline font-light">
                                <label class="font-light courseoveriewfilterhead">
                                    @Html.CheckBox("P3", true) P3
                                </label>
                            </div>
                            <div class="form-group checkbox-inline">
                                <label for="P4" class="font-light courseoveriewfilterhead">
                                    @Html.CheckBox("P4", true) P4
                                </label>

                            </div>
                        </fieldset>
                    </div>

                    <div class="col-md-1 col-xs-1">
                        <button class="btn btn-sm btn-danger" type="submit">Filter</button>
                    </div>
                }
                <div id="courseconflicttable">
                    @{Html.RenderPartial("_CourseConflictTable", Model);}
                </div>
            </div>
            <!-- /.box-body -->
        </div>
        <!-- /.box -->
    </div>
</div>


@section MyScripts{
    <script>
        $(document).ready(function () {
            $(".clickable-row").click(function () {
                window.location.href = $(this).data("href");
            });
        });
    </script>
    <script>
        $(document).ready(function () {
            $("th.filter").click(function () {
                var term = $(this).text();
                $("#courseconflicttable").load('@(Url.Action("FilterCourses","Home", null, Request.Url.Scheme))?filter=' + term);
            });
        });
    </script> 
    <script>
        $(function () {
            $('#courseconflictoverview').DataTable({
                'paging': false,
                'lengthChange': false,
                'searching': true,
                'ordering': false,
                'info': false,
                'autoWidth': false,
                'columnDefs': [
                    {
                        'targets': '_all',
                        'defaultContent': ''
                    }
                ]
            });
        })
    </script>
}