@model CoursePlanner.Models.BaseMessage

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>BaseMessage</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.TeacherSender.TeacherName)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.TeacherSender.TeacherName)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.TeacherReciever.TeacherName)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.TeacherReciever.TeacherName)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.MessageText)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.MessageText)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.MessageSendDate)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.MessageSendDate)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.MessageReadDate)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.MessageReadDate)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.BaseMessageID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
