@model IEnumerable<CoursePlanner.Models.BaseMessage>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.TeacherSender.TeacherName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TeacherReciever.TeacherName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MessageText)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MessageSendDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MessageReadDate)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.TeacherSender.TeacherName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TeacherReciever.TeacherName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MessageText)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MessageSendDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MessageReadDate)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.BaseMessageID }) |
            @Html.ActionLink("Details", "Details", new { id=item.BaseMessageID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.BaseMessageID })
        </td>
    </tr>
}

</table>
