﻿@using CoursePlanner.Models
@model CoursePlanner.Models.CourseOccurrence
@{
    ViewBag.Title = "Course Information";
}

<script type="text/javascript">
    function EditBudget() {
        document.getElementById('editBudget').className = "btn btn-danger btn-xs hidden";
        document.getElementById('budgetEditForm').className = "show";
    }

    function SaveBudget() {
        document.getElementById('editBudget').className = "btn btn-danger btn-xs show";
        document.getElementById('budgetEditForm').className = "hidden";
    }


    //window.onload = IsStatusCompleted;


    //function IsStatusCompleted()
    //{

    //    if (Model.Status == "Completed"){

    //        document.getElementById('editBudget').className = "btn btn-warning btn-xs disabled";
    //        document.getElementById('allocateTeacher').className = "btn btn-danger disabled";
    //        document.getElementById('manageCourseResponsible').className = "btn btn-danger center-block disabled";
    //        document.getElementById('removeTeacher').className = "btn btn-danger RemoveTeacherButton pull-right disabled";


    //    }
    //}

</script>
<p>
    <input type="button" class="btn btn-danger btn-sm" value="Back To List" onclick="location.href='@Url.Action("Index", "CourseOccurrence")'" />

    @if (User.IsInRole("Study Director") && Model.Status == Statuses.WaitingForApproval)
    {
        using (Html.BeginForm("ApproveCourse", "CourseOccurrence"))
        {
            @Html.AntiForgeryToken()
            {
                <fieldset id="createRequestApprovalMessageForm">
                    <input hidden value="@Model.CourseOccurrenceID" name="courseOccurrenceID" />
                    <input type="submit" style="float: right" class="btn btn-success btn-sm" value="Approve course" />
                </fieldset>
            }
        }
    }
</p>
<div class="row">
    <div class="col-md-3">
        <!-- Profile Image -->
        <div class="box box-danger">
            <div class="box-body box-profile">
                <h3 class="profile-username text-center">@Html.DisplayFor(model => model.Course.CourseName)</h3>
                <p class="text-muted text-center">@Html.DisplayFor(model => model.Course.CourseCode)</p>
                <p class="text-center">
                    @if (Model.Status.ToString() == "Planning")
                    {

                        <span class="label label-danger">Planning</span>

                    }
                    else if (Model.Status.ToString() == "WaitingForApproval")
                    {
                        <span class="label label-primary">Waiting For Approval</span>
                    }

                    else if (Model.Status.ToString() == "Approved")
                    {


                        <span class="label label-success">Approved</span>

                    }
                    else if (Model.Status.ToString() == "Completed")
                    {


                        <span class="label label-primary">Completed</span>

                    }
                    else
                    {
                        <span>Nothing</span>
                    }
                </p>
                <ul class="list-group list-group-unbordered">
                    @*<li class="list-group-item">
                            <b>@Html.DisplayNameFor(model => model.Dob)</b> <a class="pull-right">@Html.DisplayFor(model => model.Dob)</a>
                        </li>*@
                    <li class="list-group-item">
                        <b>Classification</b> <p class="pull-right">@Html.DisplayFor(model => model.Course.CourseClassificiation) <br /></p>
                    </li>
                    <li class="list-group-item">
                        <b>Course Type</b> <p class="pull-right">@Html.DisplayFor(model => model.Course.CourseType)</p>
                    </li>
                    <li class="list-group-item">
                        <b>Credits</b>

                        @if (Model.Course.CourseCredit.ToString() == "C7_5")
                        {

                            <p class="pull-right">C7.5</p>

                        }
                        else
                        {

                            <p class="pull-right">@Model.Course.CourseCredit</p>


                        }

                    </li>
                    <li class="list-group-item">
                        <b> HST Value</b> <p class="pull-right">@Html.DisplayFor(model => model.HST)</p>
                    </li>
                    <li class="list-group-item">
                        <b>Total Number of Students</b> <p class="pull-right">@Html.DisplayFor(model => model.NoOfStudents)</p>
                    </li>
                    <li class="list-group-item">
                        <b>Course Budget</b> <p class="pull-right">@Html.DisplayFor(model => model.Budget)</p>

                        @if (User.IsInRole("Study Director"))
                        {
                            if (Model.Status.ToString() == "Completed")
                            {
                                <button id="editBudget" class="btn btn-danger btn-xs disabled"> Edit Budget </button>

                            }
                            else
                            {
                                <button id="editBudget" class="btn btn-danger btn-xs" onclick="EditBudget()"> Edit Budget </button>
                            }
                        }
                        @using (Html.BeginForm("EditBudget", "CourseOccurrence"))
                        {
                            @Html.AntiForgeryToken()
                            <fieldset hidden id="budgetEditForm">
                                <input hidden value="@Model.CourseOccurrenceID" name="id" />
                                <input type="text" value="@Html.ValueFor(model => model.Budget)" name="newBudget" />
                                <input id="saveBudget" class="btn btn-success btn-xs" value="Save Budget" type="submit" onclick=SaveBudget() />
                            </fieldset>
                        }

                    </li>

                    <li class="list-group-item">
                        <b>Term</b> <p class="pull-right">@Html.DisplayFor(model => model.Term)</p>
                    </li>
                    <li class="list-group-item">
                        <b>Period</b> <p class="pull-right">@Html.DisplayFor(model => model.Period)</p>
                    </li>

                    <li class="list-group-item">
                        <b>Start Date</b>
                        @if (Model.StartDate != null)
                        {
                            <p class="pull-right">
                                @Model.StartDate.Value.ToString("yyyy/MM/dd")
                            </p>
                        }
                        else
                        {
                            <p class="pull-right">
                                No end date set
                            </p>
                        }
                    </li>
                    <li class="list-group-item">
                        <b>End Date</b>
                        @if (Model.EndDate != null)
                        {
                            <p class="pull-right">
                                @Model.EndDate.Value.ToString("yyyy/MM/dd")
                            </p>
                        }
                        else
                        {
                            <p class="pull-right">
                                No end date set
                            </p>
                        }
                    </li>


                </ul>

                @if (User.IsInRole("Study Director"))
                {

                    <!-- Modal -->
                    <div class="modal fade" id="crModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                        <div class="modal-dialog" role="document">
                            @using (Html.BeginForm("EditCourseResponsible", "CourseOccurrence"))
                            {
                                @Html.AntiForgeryToken()
                                <div class="modal-content form-group">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                        <h3 class="modal-title" id="myModalLabel">Assign or change course responsible</h3>
                                    </div>
                                    <div class="modal-body">
                                        <div class="row">
                                            <div class="col-xs-10 col-xs-offset-1">
                                                @if (Model.CourseResponsibleID != null)
                                                {
                                                    <h4>Current course responsible:</h4>
                                                    <input class="form-control pull-right" style="color: #000; background-color: #fff" type="text" disabled="" placeholder="@Html.ViewBag.GetCourseResponsibleName(Convert.ToInt32(Model.CourseResponsibleID))" />
                                                }
                                                else
                                                {
                                                    <h4>No course responsible</h4>
                                                }
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-xs-10 col-xs-offset-1">
                                                <h4>Select new course responsible:</h4>
                                                <select class="form-control" name="newcourseresponsibleId" style="width: 100%;">
                                                    @foreach (CoursePlanner.Models.Teacher T in ViewBag.TeachersForCourseResponsible)
                                                    {
                                                        <option value="@T.TeacherId">@T.TeacherName</option>
                                                    }
                                                </select>

                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-xs-10 col-xs-offset-1">

                                                <h4>Set hours:</h4>
                                                <input class="form-control pull-right" style="color: #000; background-color: #fff" name="hours" id="number" type="number">
                                                <input hidden value="@Model.CourseOccurrenceID" name="courseID" />
                                            </div>
                                        </div>
                                    </div>


                                            <div class="modal-footer">
                                                <div class="row">
                                                   
                                                    <div class="col-xs-10 col-xs-offset-1">
                                                        <input class="btn btn-block btn-danger" type="submit" value="Select new course responsible" />
                                                    </div>


                                                </div>
                                            </div>
                                        </div>
                                        }
                                    </div>
                    </div>

                    <!-- Modal -->
                    <div class="modal fade" id="AllocateModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                        <div class="modal-dialog" role="document">
                            @using (Html.BeginForm("AllocateTeacherHours", "CourseOccurrence"))
                            {
                                @Html.AntiForgeryToken()
                                <div class="modal-content form-group">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                        <h3 class="modal-title" id="myModalLabel">Allocate course hours</h3>

                                    </div>
                                    <div class="modal-body">
                                        <div class="row">
                                            <div class="col-xs-10 col-xs-offset-1">
                                                <h4>Course:</h4>
                                                <input class="form-control pull-right" style="color: #000; background-color: #fff" type="text" disabled="" placeholder="@Model.Course.CourseName" />
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-xs-10 col-xs-offset-1">
                                                <h4>Select teacher:</h4>
                                                <select class="form-control" name="tid" style="width: 100%;">
                                                    @foreach (CoursePlanner.Models.Teacher T in ViewBag.TeachersForCourseResponsible)
                                                    {
                                                        <option value="@T.TeacherId">@T.TeacherName</option>
                                                    }
                                                </select>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-xs-10 col-xs-offset-1">
                                                <h4>Set hours:</h4>
                                                <input class="form-control pull-right" style="color: #000; background-color: #fff" name="hours" id="number" type="number">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="modal-footer">
                                        <div class="row">
                                            <input hidden value="@Model.CourseOccurrenceID" name="courseID" />
                                            <div class="col-xs-10 col-xs-offset-1">
                                                <input class="btn btn-block btn-danger" type="submit" value="Allocate hours" />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                     <!-- Modal -->
                    <div class="modal fade" id="removeModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                        <div class="modal-dialog" role="document">
                            @using (Html.BeginForm("DeleteCourseTeacher", "CourseOccurrence"))
                            {
                                @Html.AntiForgeryToken()
                                <div class="modal-content form-group">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                        <h3 class="modal-title" id="myModalLabel">Remove teacher from course</h3>
                                    </div>
                                    <div class="modal-body">
                                        <div class="row">
                                            <div class="col-xs-10 col-xs-offset-1">
                                                <input readonly hidden id="teachertobedeletedid" name="tid" />
                                                <input readonly hidden name="cid" value="@Model.CourseOccurrenceID" />
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col-xs-10 col-xs-offset-1">

                                                <div id="courseresponsiblebeingdeleted" class="alert alert-warning alert-dismissible">
                                                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                                                    <p><i class="icon fa fa-warning"></i>The teacher you are trying to remove is the current course responsible.</p>
                                                </div>

                                                <h4>Are you sure you want to remove this teacher from the course?</h4>
                                                <div class="row">
                                                    <ul class="list-group list-group-unbordered">

                                                        <li class="list-group-item">
                                                            <b>Teacher</b> <p class="pull-right"> <p class="pull-right" id="teacherName"><br /></p>
                                                        </li>
                                                        <li class="list-group-item">
                                                            <b>Hours</b> <p class="pull-right" id="teacherHours"></p>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                    <div class="modal-footer">
                                        <div class="row">
                                            <div class="col-xs-10 col-xs-offset-1">
                                               
                                                <input class="btn btn-block btn-danger" type="submit" value="Remove" name="removeButton" />
                                            </div>
                                        </div>
                                        <p/>
                                        <div class="row">
                                            <div class="col-xs-10 col-xs-offset-1">
                                              
                                                <input class="btn btn-block btn-danger" type="submit" name="removeButton" value="Remove & Notify" />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            }
                        </div>
                    </div>

                }
            </div>
            <!-- /.box-body -->
        </div>
        <!-- /.box -->
    </div>
    <!-- /.col -->
    <div class="col-md-9  skin-red-light">
        <div class="nav-tabs-custom  skin-red-light">
            <ul class="nav nav-tabs skin-red-light">
                <li class="active skin-red-light"><a href="#teachers" data-toggle="tab">Teachers</a></li>
                <li><a href="#history" data-toggle="tab">History</a></li>
            </ul>
            <div class="tab-content">
                <div class="active tab-pane" id="teachers">
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="box-body">
                                @if (User.IsInRole("Study Director"))
                                {
                                    if (Model.Status.ToString() == "Completed")
                                    {
                                        <button class="btn btn-danger disabled" id="allocateTeacher" type="button">Allocate teacher to courses</button>
                                    }
                                    else
                                    {
                                        <button class="btn btn-danger" id="allocateTeacher" data-target="#AllocateModal" data-toggle="modal" type="button">Allocate teacher to courses</button>
                                    }

                                }
                                <br /><b>&nbsp;</b>
                                <div class="panel box box-danger">
                                    <div class="box-header with-border">
                                        <h4 class="box-title">
                                            <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" class="" aria-expanded="true">
                                                Course Responsible
                                            </a>
                                        </h4>
                                    </div>
                                    <div id="collapseTwo" class="panel-collapse collapse in" aria-expanded="true" style="">
                                        <div class="box-body">
                                            @if (ViewBag.GetCourseResponsibleName(Convert.ToInt32(Model.CourseResponsibleID)) != null)
                                            {
                                                <b>Course Responsible</b>
                                                <a href="@Url.Action("Details/"+@Model.CourseResponsibleID, "Teacher")"><span>@Html.ViewBag.GetCourseResponsibleName(Convert.ToInt32(Model.CourseResponsibleID))</span></a>
                                            }
                                            else
                                            {
                                                <p class="center">There is not a course responsible available for this course</p>
                                            }

                                            @if (User.IsInRole("Study Director"))
                                            {

                                                @*<b style="font-size: 1.5em;">&nbsp;</b>*@
                                                if (Model.Status.ToString() == "Completed")
                                                {
                                                    

                                                        <button id="manageCourseResponsible" class="btn btn-danger pull-right disabled" type="button"> Change Course Responsible </button>

                                                }
                                                else
                                                {

                                                        <button id="manageCourseResponsible" class="btn btn-danger pull-right" data-target="#crModal" data-toggle="modal" type="button"> Change Course Responsible </button>
                                                  
                                                }
                                            }
                                        </div>
                                    </div>
                                </div>

                                @using (Html.BeginForm("CreateRequestApprovalMessage", "CourseOccurrence"))
                                {
                                    @Html.AntiForgeryToken()
                                    <fieldset id="createRequestApprovalMessageForm">
                                        <table class="table table-bordered table-hover table-responsive" id="courseoverview">
                                            <thead>
                                                <tr>
                                                    @if (User.IsInRole("Study Director"))
                                                    {
                                                        <th>
                                                            Request approval
                                                        </th>
                                                        <th>
                                                            Latest Response
                                                        </th>
                                                    }
                                                    <th>
                                                        Teacher Name
                                                    </th>
                                                    <th>
                                                        Teacher Position
                                                    </th>
                                                    <th>
                                                        Allocated Hours
                                                    </th>
                                                </tr>
                                            </thead>
                                            <tbody>

                                                @foreach (CoursePlanner.Models.CourseTeacher courseTeacher in (List<CoursePlanner.Models.CourseTeacher>)ViewBag.teachersCourse)
                                                {
                                                    <tr>
                                                        @if (User.IsInRole("Study Director"))
                                                        {
                                                            <td>
                                                                <input type="checkbox" name="approvalMessageSelection" value="@courseTeacher.TeacherId.ToString()" />
                                                            </td>
                                                            <td>
                                                                @{string approvalResponse = "No Respond Message Sent"; }
                                                                  
                                                                @foreach (ResponseApprovalMessage responseApprovalMessage in ViewBag.ResponseApprovalMessageList)
                                                                {
                                                                    if (responseApprovalMessage != null && responseApprovalMessage.BaseMessage.SenderID == courseTeacher.TeacherId && responseApprovalMessage.Response == true)
                                                                    {
                                                                        approvalResponse = "Accepted";
                                                                    }
                                                                    else if (responseApprovalMessage != null && responseApprovalMessage.BaseMessage.SenderID == courseTeacher.TeacherId && responseApprovalMessage.Response == false)
                                                                    {
                                                                        approvalResponse = "Rejected";
                                                                    }
                                                                }          
                                                                
                                                                @if(approvalResponse == "Accepted")
                                                                {
                                                                    <span class="label label-success">@approvalResponse</span>
                                                                }
                                                                else if(approvalResponse == "Rejected")
                                                                {
                                                                    <span class="label label-danger">@approvalResponse</span>
                                                                }
                                                                else
                                                                {
                                                                    <span class="label label-primary">@approvalResponse</span>
                                                                }                                                                                                              
                                                            </td>
                                                        }
                                                        <td>
                                                            <a href="@Url.Action("Details/" + @courseTeacher.TeacherId, "Teacher")"><span>@courseTeacher.Teacher.TeacherName</span></a>
                                                        </td>
                                                        <td>
                                                            @courseTeacher.Teacher.TeacherPosition
                                                        </td>
                                                        <td>
                                                            @courseTeacher.Teacher.CourseTeacher.Where(x => x.CourseOccurrenceId == Model.CourseOccurrenceID && x.TeacherId == courseTeacher.TeacherId).Select(y => y.Hours).FirstOrDefault()
                                                            @if (User.IsInRole("Study Director"))
                                                            {
                                                                if (Model.Status.ToString() == "Completed")
                                                                {
                                                                    <button id="removeTeacher" class="btn btn-danger RemoveTeacherButton pull-right disabled" type="button"> Remove </button>
                                                                }
                                                                else
                                                                {
                                                                    <button id="removeTeacher" class="btn btn-danger RemoveTeacherButton pull-right" data-target="#removeModal" data-todo='{"id":@courseTeacher.TeacherId,"tname":"@courseTeacher.Teacher.TeacherName","thours":"@courseTeacher.Hours"}' data-toggle="modal" type="button"> Remove </button>

                                                                }
                                                            }
                                                        </td>
                                                    </tr>
                                                }
                                            </tbody>
                                        </table>
                                        <br />
                                        <input hidden value="@Model.CourseOccurrenceID" name="courseOccurrenceID" />
                                        @if (User.IsInRole("Study Director"))
                                        {
                                            if (Model.Status.ToString() == "Completed")
                                            {

                                                <input class="btn btn-success btn-sm disabled" value="Send request" />
                                            }
                                            else
                                            {
                                                <input class="btn btn-success btn-sm" value="Send request" type="submit" />

                                            }
                                        }
                                    </fieldset>
                                }
                            </div>
                            <!-- /.box-body -->
                        </div>
                        <!--/.col-xs-12-->
                    </div>
                    <!--/.row-->
                </div>
                <!-- /.tab-pane -->
                <div class="tab-pane" id="history">
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="box-body">
                                <table class="table table-bordered table-hover table-responsive" id="courseoverview">
                                    <thead>
                                        <tr>
                                            <th>
                                                HST Value
                                            </th>
                                            <th>
                                                Course Budget
                                            </th>
                                            <th>
                                                Number of Students
                                            </th>
                                            <th>
                                                Number of Passing Students
                                            </th>
                                            <th>
                                                Passing Percentage
                                            </th>
                                            <th>
                                                Educational Year
                                            </th>
                                            <th>
                                                Course Responsible
                                            </th>
                                            <th>
                                                Teachers
                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (CoursePlanner.Models.CourseOccurrence courseOccurance in (List<CoursePlanner.Models.CourseOccurrence>)ViewBag.CourseOccurencesHistory)
                                        {
                                            <tr>
                                                <td>
                                                    @courseOccurance.HST
                                                </td>
                                                <td>
                                                    @courseOccurance.Budget
                                                </td>
                                                <td>
                                                    @courseOccurance.NoOfStudents
                                                </td>
                                                <td>
                                                    @courseOccurance.NoOfPassingStudents
                                                </td>
                                                <td>
                                                    @if (courseOccurance.NoOfStudents != 0)
                                                    {

                                                        <p>@((courseOccurance.NoOfPassingStudents * 100) / courseOccurance.NoOfStudents)%</p>
                                                    }
                                                </td>
                                                <td>
                                                    @courseOccurance.Year
                                                </td>
                                                <td>
                                                    <a href="@Url.Action("Details/" + @courseOccurance.CourseResponsibleID, "Teacher")"><span>@Html.ViewBag.GetCourseResponsibleName(Convert.ToInt32(courseOccurance.CourseResponsibleID))</span></a>

                                                </td>
                                                <td>
                                                    @foreach (CoursePlanner.Models.Teacher teacher in (List<CoursePlanner.Models.Teacher>)ViewBag.TeachersHistory(Convert.ToInt32(courseOccurance.CourseOccurrenceID)))
                                                    {



                                                        <a href="@Url.Action("Details/" + @teacher.TeacherId, "Teacher")"><span>@teacher.TeacherName</span></a>
                                                        <p />
                                                        <p />


                                                    }
                                                </td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            </div>
                            <!-- /.box-body -->
                        </div>
                        <!--/.col-xs-12-->
                    </div>
                    <!--/.row-->
                </div>
                <!-- /.tab-pane -->
            </div>
            <!-- /.tab-content -->
        </div>
        <!-- /.nav-tabs-custom -->
    </div>
    <!-- /.col -->
</div>
<!-- /.row -->
<br />
<!-- /.row -->
@section MyScripts{
    <script>

        $(document).ready(function () {
            //Initialize Select2 Elements
            $(".select2").select2();
        }
        )

        $(document).on("click", ".RemoveTeacherButton", function () {

            var teacherToBeDeleted = $(this).data('todo').tname
            var hoursToBeDeleted = $(this).data('todo').thours
            var removeID = $(this).data('todo').id

            $(".modal-body #teachertobedeletedid").val(removeID)
            $(".modal-body #teacherName").text(teacherToBeDeleted)
            $(".modal-body #teacherHours").text(hoursToBeDeleted)

            var courseResponsibleID = @Model.CourseResponsibleID;

            if(removeID == courseResponsibleID)
            {
                $("#courseresponsiblebeingdeleted").show()
            }
            else
            {
                $("#courseresponsiblebeingdeleted").hide()
            }
        })

    </script>
}