@model CoursePlanner.Models.CourseOccurrence

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>CourseOccurrence</legend>

        @Html.HiddenFor(model => model.CourseOccurrenceID)

        <div class="editor-label">
            @Html.LabelFor(model => model.Year)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Year)
            @Html.ValidationMessageFor(model => model.Year)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Budget)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Budget)
            @Html.ValidationMessageFor(model => model.Budget)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.NoOfStudents)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.NoOfStudents)
            @Html.ValidationMessageFor(model => model.NoOfStudents)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.NoOfPassingStudents)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.NoOfPassingStudents)
            @Html.ValidationMessageFor(model => model.NoOfPassingStudents)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.HST)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.HST)
            @Html.ValidationMessageFor(model => model.HST)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.StartDate)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.StartDate)
            @Html.ValidationMessageFor(model => model.StartDate)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.EndDate)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.EndDate)
            @Html.ValidationMessageFor(model => model.EndDate)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.CourseID, "Course")
        </div>
        <div class="editor-field">
            @Html.DropDownList("CourseID", String.Empty)
            @Html.ValidationMessageFor(model => model.CourseID)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.CourseResponsibleID, "Teacher")
        </div>
        <div class="editor-field">
            @Html.DropDownList("CourseResponsibleID", String.Empty)
            @Html.ValidationMessageFor(model => model.CourseResponsibleID)
        </div>

        <p>
            <input type="submit" value="Save" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
