@using CoursePlanner.Models
@model IEnumerable<CoursePlanner.Models.CourseOccurrence>

@{
    ViewBag.Title = "Course List for : " + ViewBag.CurrentEduYear;
}
<style>
    h1 {
        visibility: hidden;
    }
</style>

<p>
    <button type="button" class="btn btn-danger btn-lg">Course List For Current Year : <span class="badge">@ViewBag.CurrentEduYear    </span></button>
</p>





<div class="row">
    <div class="col-xs-12">
        <div class="box box-danger">
            @*<div class="box-header">
                    <h2 class="box-title">Course Overview</h2>
                </div>*@

            <!-- /.box-header -->
            <div class="box-body">

                <table class="table table-bordered table-hover" id="courseoverview" >
                    <thead>
                        <tr>

                            <th>
                                Course Name
                            </th>


                            <th>
                                Budgeted Hours

                            </th>

                            <th>
                                Allocated Hours
                            </th>


                            <th>
                                No. Of Students

                            </th>

                            <th>
                                Term

                            </th>
                            <th>
                                Period

                            </th>
                            <th>
                                Course Responsible

                            </th>
                            <th>
                                Status

                            </th>


                        </tr>
                    </thead>

                    <tbody>
                        @foreach (var item in Model)
                        {
                            if (item.Year == ViewBag.CurrentEduYear)
                            {
                                <tr>


                                    <td>
                                        @Html.ActionLink(item.Course.CourseName, "Details", new { id = item.CourseOccurrenceID })

                                    </td>


                                    <td>
                                        @Html.DisplayFor(modelItem => item.Budget)
                                    </td>
                                    <td>

                                        @ViewBag.CourseAllocatedHours(Convert.ToInt32(item.CourseOccurrenceID))

                                    </td>

                                    <td>
                                        @Html.DisplayFor(modelItem => item.NoOfStudents)
                                    </td>

                                    <td>
                                        @item.Term.ToString()
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Period)
                                    </td>

                                    <td>
                                        <a href="@Url.Action("Details/" + @item.CourseResponsibleID, "Teacher")    "><span>@Html.DisplayFor(modelItem => item.Teacher.TeacherName)    </span></a>

                                    </td>

                                    @if (item.Status == Statuses.WaitingForApproval)
                                    {
                                        <td>
                                            <span class="label label-warning">Waiting for Approval</span>
                                        </td>
                                    }
                                    else if (item.Status == Statuses.Planning)
                                    {
                                        <td>

                                            <span class="label label-danger">Planning</span>
                                        </td>
                                    }
                                    else if (item.Status == Statuses.Completed)
                                    {
                                        <td>

                                            <span class="label label-primary">Completed</span>
                                        </td>
                                    }
                                    else if (item.Status == Statuses.Approved)
                                    {
                                        <td>

                                            <span class="label label-success">Approved</span>
                                        </td>
                                    }
                                    else
                                    {
                                        <td>

                                            No information
                                        </td>
                                    }




                                </tr>
                            }
                        }
                    </tbody>
                </table>
            </div>
            <!-- /.box-body -->
        </div>
        <!-- /.box -->
    </div>
    <!--/.col-xs-12-->
</div>


@section MyScripts{
    <script>
        $(document).ready(function () {
            $('#courseoverview').DataTable()
        });


    </script>
}
