@{
    ViewBag.Title = "RoleCreate";
}

<div class="spacerBody">
    <p>&nbsp;</p>
    @Html.ActionLink("Roles", "RoleIndex") | @Html.ActionLink("Manage User Roles", "ManageUserRoles")
    <h2>Role Create</h2>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div>
            Role name
        </div>
        <p>
            @Html.TextBox("RoleName")
        </p>
        <input type="submit" value="Save" />
    }
</div>
